// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
$base01:          #667B83; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
$base1:           #667B83; //medium light gray  //下标
$base2:           #CBCBCB; //cream
$base3:           #F6F6F6; //white
//$solar-yellow:    #b58900;
$solar-orange:    #F4990F;
$solar-red:       #E83729;
$solar-magenta:   #39C0C5; //#EB41CE;
$solar-violet:    #2891DB; //#7746B4;
$solar-blue:      #7746B4; //#2891DB;
$solar-cyan:      #EB41CE; //#39C0C5;
$solar-green:     #008A13;


/* Non highlighted code colors */
//$pre-bg: $base03;
$pre-border: $base2;
//$pre-color: $base1;
