// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$border-ep: #E0E0E0;

#main
{
border-left: 1px solid $border-ep;
border-right: 1px solid $border-ep;
border-bottom: 1px solid $border-ep;
}

